<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a routerLink="/users" class="nav-link" href="#">Users list</a>
        </li>
        <li class="nav-item">
          <a routerLink="/typesuser" class="nav-link" href="#">Types user list</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
